<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home.html</title>
</head>
<body>
    <div th:if="${user == null}">
        <h3>로그인 전</h3>
        <a th:href="@{/security_join}">회원가입</a>
        <a th:href="@{/member/security_login}">로그인</a>
        <hr />
    </div>
    <div th:if="${user != null}">
    <h3>로그인 후</h3>
    <a th:href="@{/security_admin/home}">관리자홈화면</a>
    <a th:href="@{/security_seller/home}">판매자홈화면</a>
    <a th:href="@{/security_customer/home}">구매자홈화면</a>
    <form th:action="@{/member/security_logout}">
        <input type="submit" value="로그아웃">
    </form>
    </div>
</html>
   
</div>

    
    <div th:replace="~{/security_footer :: sfooterFragment}"></div>
</body>
</html>