<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selectlist.html</title>
</head>
<body>
    <h3>물품목록
    </h3>
    <form th:action="@{/item/selectlist}" method="get">
    <input type="text" name="txt" placeholder="검색어">
    <input type="submit" value="검색">
    </form>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>코드</th>
            <th>상품명</th>
            <th>수량</th>
            <th>가격</th>
            <th>등록일</th>
            
        </tr>
        <tr th:each="tmp, idx :${list}">
            <td th:text="${idx.count}"></td>
            <td><a th:href="@{/item/selectone(icode=${tmp.icode})}" th:text="${tmp.icode}"></a></td>
            <td th:text="${tmp.iname}"></td>
            <td th:text="${tmp.iquantity}"></td>
            <td th:text="${tmp.iprice}"></td>
            <td th:text="${tmp.iregdate}"></td>
            <td>
                <form th:action="@{/seller/delete}" method="post">
                    <input type="hidden" name="email" value="${tmp.uemail}">
                    <input type="submit" value="post 삭제">
                </form>
                <a th:href="@{/seller/delete(uemail=${tmp.uemail})}">삭제</a>
                <a th:href="@{/seller/update(uemail=${tmp.uemail})}">수정</a>
            </td>

            
            
        </tr>
    </table>

    <th:block th:each="i : ${#numbers.sequence(1,pages)}">
                <a th:href="@{/item/selectlist(page=${i}, text=${param.text})}"
                        th:text="${i}"></a>
            </th:block>

    <div th:replace="~{/footer :: footerFragment}"></div>

</body>
</html>
