<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/item/selectone.html</title>
</head>
<body>
    <h3>상품상세페이지</h3>
    상품명:<span th:text="${item.iname}"></span><br />
    상품설명:<span th:text="${item.icontent}"></span><br />
    가격:<span th:text="${item.iprice}"></span><br />
    재고수량:<span th:text="${item.iquantity}"></span><br />
    등록일:<span th:text="${item.iregdate}"></span><br />
    이미지:<span th:text="${item.iname}"></span><br />
    
</body>
</html>