<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <footer th:fragment="sfooterFragment">
    <hr />
    <h3>footer</h3>
    <hr />
    <!-- <h3>로그인 전</h3>
    <a th:href="@{/security_home}">로그인전홈화면</a>
    <a th:href="@{/member/security_join}">회원가입</a>
    <a th:href="@{/member/security_login}">로그인</a>
    <hr /> -->
    <!-- <h3>로그인 후</h3>
    <a th:href="@{/security_admin/home}">관리자홈화면</a>
    <a th:href="@{/security_seller/home}">판매자홈화면</a>
    <a th:href="@{/security_customer/home}">구매자홈화면</a>
    </footer> -->
</html>