<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selectlist.html</title>
</head>
<body>
    <h3>물품목록
    </h3>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>이름</th>
            <th>연락처</th>
            <th>권한</th>
            <th>등록일</th>
            <th>선택</th>
        </tr>
        <tr th:each="tmp, idx :${list}">
            <td th:text="${idx.count}"></td>
            <td th:text="${tmp.uemail}"></td>
            <td th:text="${tmp.uname}"></td>
            <td th:text="${tmp.uphone}"></td>
            <td th:text="${tmp.urole}"></td>
            <td th:text="${tmp.uregdate1}"></td>
            <td>
                <form th:action="@{/seller/delete}" method="post">
                    <input type="hidden" name="email" value="${tmp.uemail}">
                    <input type="submit" value="post 삭제">
                </form>
                <a th:href="@{/seller/delete(uemail=${tmp.uemail})}">삭제</a>
                <a th:href="@{/seller/update(uemail=${tmp.uemail})}">수정</a>
            </td>
            
        </tr>
    </table>

    <div th:replace="~{/footer :: footerFragment}"></div>

</body>
</html>
